# SPDX-License-Identifier: GPL-2.0-or-later

# this supports JTAG-HS2 (and apparently Nexys4 as well)

adapter driver ftdi
ftdi device_desc "Digilent Adept USB Device"
ftdi vid_pid 0x0403 0x6014

ftdi channel 0
ftdi layout_init 0x00e8 0x60eb

reset_config none
transport select jtag

# ----------------------------------------------
# Target configuration
# ----------------------------------------------
set _CHIPNAME riscv
jtag newtap $_CHIPNAME cpu -irlen 5

set _TARGETNAME $_CHIPNAME.cpu
set _FLASHNAME $_CHIPNAME.flash
set _JTAGSPI_IR 0x02

target create $_TARGETNAME.0 riscv -chain-position $_TARGETNAME

# ----------------------------------------------
# Access memory via program buffer
# ----------------------------------------------
riscv set_mem_access progbuf

# ----------------------------------------------
# Scratch pad RAM
# ----------------------------------------------
# work area ("scratch pad RAM"): beginning of (internal) DMEM, 256 bytes, requires(!) backup
$_TARGETNAME.0 configure -work-area-phys 0x80000000 -work-area-size 256 -work-area-backup 1


# ----------------------------------------------
# Start session
# ----------------------------------------------
init
reset
halt

echo "Target HALTED."
echo "Ready for remote connections."
